:root {
    margin: 0 auto;
    font-size: 16px;
    color: var(--text-secondary);
    font-family: 'Gafata', sans-serif;
    --bg-primary: rgb(25, 25, 25);
    --bg-secondary: rgb(250, 250, 250);
    --bg-ternary: rgba(60, 60, 60, 0.2);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(200, 200, 200);
    --text-accent-primary: rgb(199, 0, 63);
    --text-accent-secondary: rgb(160, 0, 50);
    --text-accent-ternary: rgb(255, 0, 81);
    background-color: var(--bg-primary);
    background-size: cover;
}

body {
    margin: 0;
}

html, body {
    overflow: hidden;
}

/* 
=========================================
                NAVBAR
=========================================
*/

.navbar {
    width: 100vw;
    height: 2.5rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.navbar > ul {
    padding: 0 6rem;
    margin: 0;
    list-style: none;
    margin-top: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar > ul > li {
    height: 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar > ul > li > a {
    color: var(--text-secondary);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 1rem;
    transition: color 0.5s ease;
}

.navbar > ul > li > a.selected {
    color: var(--text-primary);
}

.navbar > ul > li > a.selected + .circle {
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 2px 1px white;
}

.navbar > ul > li > a:hover {
    cursor: pointer;
    color: var(--text-accent-primary);
    transition: color 0.3s ease;
}

.navbar > ul > li > a:active {
    color: var(--text-accent-ternary);
    transition: color, 0.2s;
}

.navbar > ul > li > a:hover + .circle {
    box-shadow: 0 0 3px 1px white;
    transition: box-shadow 0.5s ease;
}

.navbar > ul > li > a:active + .circle {
    box-shadow: 0 0 4px 3px white;
    transition: box-shadow 0.3s;

}

li > .circle {
    transform: translate(-50%, -20%);
    left: 50%;
    top: 100%;
}

.h-divider {
    height: 1px;
    width: 100%;
    background-color: var(--bg-secondary);
}

.nav-line {
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, rgba(250,250,250,0) 2%, rgba(250,250,250,1) 15%, rgba(250,250,250,1) 85%, rgba(250,250,250,0) 98%);
}

/* 
=========================================
                MAIN
=========================================
*/

#main {
    padding: 0 8rem;
}

.circle {
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0 white;
    transition: box-shadow 0.5s ease;
    background-color: var(--bg-secondary);
}

.content > h1.main-heading {
    color: var(--text-secondary);
}

span {
    color: var(--text-accent-primary);
    transition: color 0.4s ease;
}

span:hover {
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}
/* hide all content before animations */
#welcome, #about, #projects, #contact {
    /* display: none */
}

p > em {
    color: var(--text-secondary);
    transition: color 0.3s ease;
}

p > em:hover {
    color: var(--text-accent-ternary);
    transition: color 0.5s ease;
}

a {
    color: var(--text-secondary);
    transition: color 0.5s ease;
    text-decoration: none;
}

a:hover {
    color: var(--text-primary);
    transition: color 0.5s ease;
}

a:active {
    color: var(--text-accent-ternary);
    transition: color 0.3s ease;
}

/* 
=========================================
                WELCOME
=========================================
*/

#welcome-bg-img {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    z-index: -2;
    background-image: 
        linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(25,25,25,0.9) 40%, rgba(25,25,25,0.3) 100%),
        url('assets/portfolio-img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    padding-top: 12.5rem;
}

.welcome-statements {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 0;
}

.welcome-h3:hover > span {
    cursor: pointer;
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}

/* 
=========================================
                ABOUT
=========================================
*/

#about {
    /* NO RULES CURRENTLY */
}

.scroll-box {
    height: 45%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 1rem;
    margin-left: -5rem;
}

.scroll-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    background: linear-gradient(0deg,rgba(160,160,160,1) 0%, rgba(160,160,160,1) 85%, rgba(160,160,160,0) 100%)
}

.scroll-bar.inner {
    bottom: 75%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33.3%, rgba(255,255,255,1) 66.7%, rgba(255,255,255,0) 100%);
    height: 20%;
}

.scroll-box > p {
    color: var(--text-secondary);
    transition: color 0.4s ease;
}

.scroll-box > p.selected {
    color: var(--text-primary);
    transition: color 0.4s ease;
}

.scroll-box > p:hover {
    cursor: pointer;
    color: var(--text-accent-primary);
    transition: color 0.4s ease;
}

.scroll-box > p:active {
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}

.scroll-box > .circle {
    top: 0;
    right: 0;
    transform: translateX(45%)
}

#about > .content {
    margin-left: 5rem;
    padding: 0rem;
}

#about > .content > div {
    padding-top: 10vh;
    width: 100%;
    height: 90vh;
    visibility: hidden;
}

#about > .content > .glance-content {
    padding-top: 30vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.glance-content > p {
    font-size: 1.2rem;
}

.glance-content > h1 + p {
    margin-bottom: 0;
}

.education-content > div {
    padding: 1rem;
    background-color: var(--bg-ternary);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: auto;
    overflow: hidden;
}

.education-heading {
    display: flex;
    justify-content: start;
}

.education-heading > img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.education-heading > img + * {
    margin: auto 1rem;
}

.education-heading > h2 > span {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.education-heading > h2:hover {
    cursor: pointer
}

.education-heading > h2:hover > span {
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.education-heading > h2:active > span {
    color: white;
    transition: color 0.2s ease;
}

.education-heading > h2 + * {
    text-align: right;
    margin-left: auto;
    margin-right: 1rem;
}

.education-inner-content {
    position: relative;
    visibility: hidden;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 2rem;
}

.summary > h3 {
    margin-left: 1rem;
}

.summary > p > a {
    text-decoration: underline;
}

.education-inner-content > .details {
    display: flex;
    justify-content: space-around;
}

.education-inner-content > .details > div {
    flex: 1 1 auto;
}

.education-inner-content > .details > div > h4 {
    margin-left: 3rem;
}

.education-inner-content > .details > div > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5rem;
}

.education-inner-content > .details > div > ul {
    flex-grow: 1;
    flex-shrink: 0;
}

p.footnote {
    margin: 0 1rem 0 auto;
}

p.footnote > em {
    color: var(--text-secondary)
}