:root {
    margin: 0 auto;
    font-size: 16px;
    color: var(--text-secondary);
    font-family: 'Gafata', sans-serif;
    --bg-primary: rgb(25, 25, 25);
    --bg-secondary: rgb(250, 250, 250);
    --bg-ternary: rgba(60, 60, 60, 0.2);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(200, 200, 200);
    --text-accent-primary: rgb(199, 0, 63);
    --text-accent-secondary: rgb(160, 0, 50);
    --text-accent-ternary: rgb(255, 0, 81);
    background-color: var(--bg-primary);
    background-size: cover;
}

::selection {
    color: none;
    background: none;
}

body {
    margin: 0;
}

/* 
=========================================
                NAVBAR
=========================================
*/

.navbar {
    width: 100vw;
    height: 2.5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.navbar > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 0.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar > ul > li {
    height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar > ul > li > a {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.navbar > ul > li > a.selected {
    color: var(--text-primary);
}

.navbar > ul > li > a.selected + .circle {
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 2px 1px white;
}

.navbar > ul > li > a:hover {
    cursor: pointer;
    color: var(--text-accent-primary);
    transition: color 0.3s ease;
}

.navbar > ul > li > a:active {
    color: var(--text-accent-ternary);
    transition: color, 0.2s;
}

.navbar > ul > li > a:hover + .circle {
    box-shadow: 0 0 3px 1px white;
    transition: box-shadow 0.5s ease;
}

.navbar > ul > li > a:active + .circle {
    box-shadow: 0 0 4px 3px white;
    transition: box-shadow 0.3s;

}

li > .circle {
    transform: translate(-50%, -20%);
    left: 50%;
    top: 100%;
}

.h-divider {
    height: 1px;
    width: 100%;
    background-color: var(--bg-secondary);
}

.nav-line {
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, rgba(250,250,250,0) 2%, rgba(250,250,250,1) 15%, rgba(250,250,250,1) 85%, rgba(250,250,250,0) 98%);
}

/* 
=========================================
                FOOTER
=========================================
*/

#footer {
    z-index: 1;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
}

#footer > a > i {
    margin-top: 0.5rem;
    font-size: 3rem;
    color: var(--text-secondary);
    transition: color 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
}

#footer > a > i:hover {
    cursor: pointer;
    color: var(--text-primary);
    opacity: 0.8;
    transition: color 0.5s ease, opacity 0.5s ease;
}

#footer > a > i:active {
    color: white;
    opacity: 1;
    transition: color 0.5s ease, opacity 0.5s ease;
}

/* 
=========================================
                MAIN
=========================================
*/

#main {
    padding: 0;
}

.circle {
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0 white;
    transition: box-shadow 0.5s ease;
    background-color: var(--bg-secondary);
}

.content > h1.main-heading {
    color: var(--text-secondary);
}

span {
    color: var(--text-accent-primary);
    transition: color 0.4s ease;
}

span:hover {
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}

p > em {
    color: var(--text-secondary);
    transition: color 0.3s ease;
}

p > em:hover {
    color: var(--text-accent-ternary);
    transition: color 0.5s ease;
}

a {
    color: var(--text-secondary);
    transition: color 0.5s ease;
    text-decoration: none;
}

a:hover {
    color: var(--text-primary);
    transition: color 0.5s ease;
}

a:active {
    color: var(--text-accent-ternary);
    transition: color 0.3s ease;
}

/* 
=========================================
                WELCOME
=========================================
*/

#welcome-bg-img {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    height: 100%;
    width: 55%;
    z-index: -2;
    background-image: 
        linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(25,25,25,0.9) 40%, rgba(25,25,25,0.3) 100%),
        url('../assets/portfolio-img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    padding-top: 12.5rem;
}

.welcome-statements {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 0;
}

.welcome-h3:hover > span {
    cursor: pointer;
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}

/* 
=========================================
                ABOUT
=========================================
*/

#about {
    /* position: absolute; */
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

/* SCROLL BAR */

.scroll-container {
    display: flex;
    justify-content: flex-end;
}

.scroll-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: auto;
}

.scroll-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    background: linear-gradient(0deg,rgba(160,160,160,1) 0%, rgba(160,160,160,1) 85%, rgba(160,160,160,0) 100%)
}

.scroll-bar.inner {
    bottom: 75%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 33.3%, rgba(255,255,255,1) 66.7%, rgba(255,255,255,0) 100%);
    height: 20%;
}

.scroll-box > p {
    margin: 2rem 0;
    color: var(--text-secondary);
    transition: color 0.4s ease;
}

.scroll-box > p.selected {
    color: var(--text-primary);
    transition: color 0.4s ease;
}

.scroll-box > p:hover {
    cursor: pointer;
    color: var(--text-accent-primary);
    transition: color 0.4s ease;
}

.scroll-box > p:active {
    color: var(--text-accent-ternary);
    transition: color 0.4s ease;
}

.scroll-box > .circle {
    top: 0;
    right: 0;
    transform: translateX(45%)
}

#about > .content {
    flex: 1;
    margin-top: 2.5rem;
    position: relative;
    overflow: hidden;
}

#about > .content > div {
    visibility: hidden;
    position: absolute;
}

/* AT A GLANCE */

.content > .glance-content {
    padding: 10rem 2rem 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
}

.content > .education-content {
    padding: 1%;
    width: 98%;
}

.glance-content > p {
    font-size: 1.2rem;
}

#resume-link {
    text-decoration: underline;
}

.glance-content > p:hover > span {
    color: var(--text-accent-ternary);
    transition: color 0.5s ease;
}

.glance-content > h1 + p {
    margin-bottom: 0;
}

/* EDUCATION */

.education-content > div {
    padding: 1rem;
    background-color: var(--bg-ternary);
    box-shadow: 0 0 1rem rgb(20, 20, 20);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: auto;
    overflow: hidden;
}

.education-heading {
    display: flex;
    justify-content: start;
}

.education-heading > img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.education-heading > img + * {
    margin: auto 1rem;
}

.education-heading > h2 > span {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.education-heading:hover {
    cursor: pointer
}

.education-heading > h2:hover > span {
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.education-heading > h2:active > span {
    color: white;
    transition: color 0.2s ease;
}

.education-heading > h2 + * {
    text-align: right;
    margin-left: auto;
    margin-right: 1rem;
}

.education-inner-content {
    position: relative;
    visibility: hidden;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 2rem;
}

.education-inner-content > .summary > h3 {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.education-inner-content:hover > .summary > h3 {
    color: var(--text-primary);
    transition: color 0.5s ease;
}

.summary > h4 > a {
    text-decoration: underline;
}

.education-inner-content > .details {
    display: flex;
    justify-content: space-around;
}

.education-inner-content > .details > div {
    flex: 1;
}

.details > div > h4 {
    margin-left: 3rem;
    font-weight: bolder;
    color: var(--text-primary);
}

.details > div > ul {
    display: flex;
    flex-wrap: wrap;
}

.details > div > ul {
    flex-grow: 1;
    flex-shrink: 0;
}

.details > .skills > ul > li {
    width: 10rem;
}

.details > div > ul > li {
    width: 8rem;
}

p.footnote {
    margin: 0 1rem 0 auto;
}

p.footnote > em {
    color: var(--text-secondary)
}

/* SKILLS */

.skills-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.skill-icons {
    position: relative;
    perspective: 100rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.skill-icons > i {
    font-size: 5rem;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgb(20, 20, 20);
}

.skill-icons > i:hover {
    cursor: pointer;
    color: white !important;
    background-color: rgb(80,80,80) !important;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.skill-icons > i.selected {
    color: white !important;
    background-color: rgb(80,80,80) !important;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.skill-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.skill-details > h1 {
    text-align: center;
}

.skill-details > div {
    display: grid;
    grid-template-columns: 7rem auto;
}

.icon-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon-container > i {
    font-size: 4rem;
    margin: auto;
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

div:hover > .icon-container > i {
    color: white;
    transition: color 0.5 ease;
}

.skill-inner-content > p > span {
    color: var(--text-primary);
    transition: color 0.5 ease;
}

.skill-inner-content > p:hover > span {
    color: white;
    transition: color 0.5 ease;
}

.skill-inner-content > h2 {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.skill-inner-content > h2:hover {
    color: white;
    transition: color 0.5 ease;
}

.other-side-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    padding-top: 10rem;
}

#other-side-img {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 70vw;
    z-index: -2;
    background-image: 
        linear-gradient(90deg, rgba(25,25,25,0) 0%, rgba(25,25,25,0.70) 70%, rgba(25,25,25,1) 100%), 
        url('../assets/other-side.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.other-side-content > p {
    text-align: end;
    font-size: 1.3rem;
    line-height: 2rem;
}

.other-side-content > p > span {
    color: rgb(230, 230, 230);
    transition: color 0.5s ease;
}

.other-side-content > p:hover > span {
    color: white;
    transition: color 0.5s ease;
}

/* 
=========================================
                PROJECTS
=========================================
*/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.card-deck-container {
    display: flex;
    justify-content: center;
}

.card-deck-container > i {
    margin: 1rem;
    margin-top: auto;
    font-size: 2rem;
}

.card-deck {
    display: flex;
    justify-content: center;
}

.card {
    visibility: hidden;
    margin: 0 0.5rem;
    padding: 0.5rem;
    width: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 0 0 1rem rgb(12, 12, 12);
    opacity: 0.7;
    transition: opacity 0.5s ease, background-color 0.5s ease, transform 0.5s ease-out;
}

.card:hover {
    cursor: pointer;
    opacity: 0.85;
    transform: translateY(0rem) !important;
    transition: opacity 0.2s ease, transform 0.5s ease;
}

.card > h2 {
    color: var(--text-secondary);
    transition: color 0.5s ease;
}

.card:hover > h2 {
    color: var(--text-primary);
    transition: color 0.5s ease;
}

.card:active > h2 {
    color: white;
    transition: color 0.1s ease;
}

.card:active {
    opacity: 1;
    transform: translateY(0rem) !important;
    transition: opacity 0.1s ease, transform 0.3s ease;
}

.card > h2 {
    text-align: center;
    margin: 0.2rem auto;
}

.project-details {
    padding-top: 2.5rem;
    display: flex;
    flex: 1;
    opacity: 0;
}

.project-details > .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}

.project-details > .header > * {
    margin: 0.5rem 0;
}

.project-details > .header > img {
    width: 25rem;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem black;
    opacity: 0.8;
}

.project-details > .header > h1 {
    text-align: center;
}

.project-details > .header > .links {
    display: flex;
    justify-content: center;
}

.project-details > .header > .links > * {
    margin: 0 0.5rem;
    text-decoration: underline;
}

.project-details > .content {
    padding: 0;
}

.project-details > .content > p {
    line-height: 1.5rem;
}

.project-details > .content > p > span {
    color: var(--text-primary);
    transition: color 0.5s ease;
}

.project-details > .content > p:hover > span {
    color: white;
    transition: color 0.5s ease;
}

.project-details > .content > * {
    margin: 1rem 0;
}

.project-details > .content > h2 {
    text-align: center;
}

.project-details > .content > .technologies-lists {
    display: flex;
    justify-content: space-around;
}

/* 
=========================================
                CONTACT
=========================================
*/

#contact {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    display: flex;
    justify-content: center;
    background-color: var(--bg-ternary);
    box-shadow: 0 0 1rem rgba(20, 20, 20, 0.7);
    border-radius: 1rem;
    align-self: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    opacity: 0;
}

#contact-form > * {
    flex: 1;
    margin: 0 1rem;
}

#contact-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#contact-form > div > * {
    margin: 0 auto;
}

#contact-form > div > h3 {
    margin-top: 1rem;
}

#contact-form > div > img {
    width: 20rem;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem black;
}

#contact-form > form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20rem;
}

#contact-form > form > * {
    margin: 0.5rem 0;
}

input[type=text], input[type=email], textarea {
    border: 1px solid rgb(20, 20, 20);
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: rgb(80, 80, 80);
    color: var(--text-secondary)
}

textarea {
    height: 6rem;
}

input[type=submit] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background-color: rgb(200, 200, 200);
    transition: background-color 0.5s ease;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(215, 215, 215);
    transition: background-color 0.3s ease;
}

input[type=submit]:active {
    background-color: rgb(230, 230, 230);
    transition: background-color 0.2s ease;
}

form > p.alert {
    opacity: 0;
    text-align: center;
}

p.alert.success {
    color: #25d35c;
}